{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/standard",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "jsxSingleQuote": false,
        "trailingComma": "all"
      }
    ],
    "react/display-name": "off"
  }
}
